body{
    align-items: center;
    text-align: center;
    background-color:black ;
    color:white;
    caret-color: transparent;
	   
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 500px;
   margin:auto;
  } 
  
  
.box{
    border:1px solid black;
    height: 150px;
    background-color:rgb(105,19,32);
    line-height: 140px;
    font-size:50px
}


.span{
  color:black
}

section{
  padding: 10px;
  margin: 3px;
}


button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

  }
  
button:hover {
  opacity: 1;
}

.box_timer{
  border: solid 3px black; 
  padding: 10px;
  background-color:  rgb(129,57,68);
  
  max-width: auto;
}

#timer {
  font-size: 1em;
  border-radius:  black;
}
